/** @format */

.circle {
    width: 150px;
    height: 150px;
    background: linear-gradient(-45deg, #444, #ddd, #444);
    border-radius: 50%;
    position: relative;
    box-shadow: 2px 2px 8px black, -2px -2px 8px white;
    & > .sign {
        position: absolute;
        left: 50%;
        top: 2%;
        height: 0.8rem;
        width: 1rem;
        transform: translate(-50%, -5%);
        font-size: 0.7rem;
        padding: 3px;
        background-color: #eee;
        border: 1px solid #333;
        border-radius: 10%;
        box-shadow: inset 2px 2px 3px black;
        transition: 1s;
        overflow: hidden;
        & > strong {
            position: absolute;
            left: -2rem;
            transform: translateX(-50%);
            transition: left 1s ease-in;
            & > [data-key] {
                margin: 0 3px;
                padding: 0 6px;
                border-left: 1px solid #777;
            }
        }
    }
    & > .container {
        background: linear-gradient(-45deg, #444, #ddd);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & > .switch {
            width: 75px;
            height: 25px;
            background-color: #000;
            border-radius: 20%;
            position: relative;
            transition: transform 1s;
            box-shadow: 2px 2px 8px black;
            &::before {
                content: "";
                width: 15px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                top: 11px;
                left: 0;
            }
        }
    }
}
@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: 50%;
    }
}
